.cartContainer {
  position: fixed;
  /* bottom: 'calc(50px + env(safe-area-inset-bottom, 0px))'; */
  left: 0;
  right: 0;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 20;
  height: 50px;
  pointer-events: none;
}

.cartButton {
  pointer-events: auto;
  height: 60px;
  border-radius: 24px;
}
